
body{background-color:skyblue; color: white; margin:25px;}
.wrapper > div{background-color: MediumSeaGreen; padding: 10px;}
.wrapper {display:grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; grid-auto-rows: minmax(100px auto);}
.header{text-align:center;}
.links {text-align:center;}
a{padding:10px; text-decoration: none; color:black; background-color:white;}
a:hover{padding: 15px; color: white; background-color: black;}
.srcs {displat:grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; grid-auto-rows: minmax(100px auto);}
.source{text-align: center;}
