
body{background-color:white; color: black; margin:30px; margin-top: -30px; }
h1, h2, h3, h4, h5, h6 {text-shadow: 5px 5px 5px #ccc;}
.heading {text-align:center;}
.website-body > div{background-color: White; padding: 10px;}
.website-body {display:grid; grid-template-columns: 15% 70% 15%; grid-gap: 10px; }
div {box-shadow: 3px 3px 3px grey;}
